@tailwind base;
@tailwind components;
@tailwind utilities;

svg.star-svg {
    display: inline;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-slider {
    width: 100%;
    overflow: hidden;
}

.slick-list {
    position: relative;
    display: block !important;
    width: 100%;
}

.slick-slide div {
    width: auto;
    /* margin-right: 10px; */
}

.slick-slide img {
    width: calc(100%) !important;
}