@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .nav-links {
        @apply relative ml-10 text-black font-bold tracking-[1px] cursor-pointer
    }

    .nav-links::after {
        @apply content-[''] bg-black h-[2px] w-0 left-0 -bottom-[3px] rounded-xl absolute duration-300
    }

    .nav-links:hover::after {
        @apply w-full
    }

}

.slick-slide>div {
    margin: 0 10px;
}

.slick-slider {
    width: 100%;
    overflow: hidden;
}

.slick-list {
    position: relative;
    display: block !important;
    width: 100%;
}

.slick-slide div {
    width: auto;
    /* margin-right: 10px; */
}

.slick-slide img {
    width: calc(100%) !important;
}